* {
    color: white;
    line-height: 30px;
    font-family: Verdana, Geneva, sans-serif;
}


body {
    background: #565455;
}


#d1 {
    background: #f77829;
    margin: auto;
    width: 40%;
}

#d2 {
    position: absolute;
    background: #a3cdde;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 34%;
    top: 5%;
}


#d3 {
    background: #ee396c;
    margin: auto;
    width: 40%;
}

#d4 {
    position: absolute;
    background: #a3cdde;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: 34%;
    top: 20%;
}

#p1 {
    padding-left: 15%;
    padding-top: 5%;
    margin: 0;
    line-height: 30px;

}

#p2 {
    padding-left: 65%;
    margin-top: -8%;
    margin-bottom: 0;
    font-size: 13px;
}

#p3 {
    padding-left: 65%;
    margin: 0;
    padding-bottom: 6%;
    font-size: 13px;

}

#p4 {
    padding-left: 50%;
    padding-top: 5%;
    margin: 0;
    line-height: 30px;
}

#p5 {
    padding-left: 20%;
    margin-top: -8%;
    margin-bottom: 0;
    font-size: 13px;
}

#p6 {
    padding-left: 20%;
    margin: 0;
    padding-bottom: 6%;
    font-size: 13px;
}

#p7 {
    text-align: center;
    font-size: 8px;
    color: gray;
    line-height: 50%;
    margin-top: 50%;
}

#p8 {
    text-align: center;
    font-size: 8px;
    color: gray;
    line-height: 50%;
    margin-top: 50%;
}

#img1 {
    position: absolute;
    left: 650px;
    top: 45px;
}

#img2 {
    position: absolute;
    right: 970px;
    top: 185px;
}